.legend {
  color: #848484;
  font-size: 1.4rem;
  margin-bottom: 12px;
}

.legend .multiplier {
  font-family: monospace;
  font-size: 18px;
  padding: 0 10px;
}

.legend .chair:not(:first-of-type) {
  margin-left: 20px;
}

.label {
  display: inline-block;
  font-size: 1.2rem;
  color: #848484;
}

.input {
  display: block;
  width: 100px;
  margin-top: 1px;
  padding: 8px;
  font-size: 1.6rem;
  color: #000000;
  border: 1px solid #b7b7b7;
}

.input:focus {
  outline: 1px #CF87FF solid;
  outline-offset: -1px;
}
