.legend {
  color: #848484;
  font-size: 1.4rem;
  margin-bottom: 12px;
}

.legend .chair:not(:first-of-type) {
  margin-left: 20px;
}

.label {
  display: inline-block;
  font-size: 1.2rem;
  color: #848484;
}

.input {
  display: block;
  width: 100px;
  margin-top: 1px;
  padding: 8px;
  font-size: 1.6rem;
  color: #000000;
  border: 1px solid #b7b7b7;
}

.input:focus {
  outline: 1px #CF87FF solid;
  outline-offset: -1px;
}

.chair {
  display: inline-block;
  vertical-align: middle;
  width: 26px;
  height: 26px;
  border-width: 2px;
  border-style: solid;
  box-sizing: border-box;
  border-radius: 4px;
}

.chair_standart {
  border-color: #393939;
  background-color: #C4C4C4;
}

.chair_vip {
  border-color: #0a828a;
  background-color: #b0d6d8;
  background-image: url("../../../../img/green-pattern.png");
  background-repeat: repeat;
}
